body {
    font-family: 'Kumbh Sans', sans-serif;
    width: 1440px;
    
}

.cabeçalho {
    display: grid;
    grid-template-columns: 2fr 10fr  repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-content: center;
    border-bottom-color: hsl(223, 64%, 98%);
    margin: 30px 90px;
    padding: 10px; 
	
    /*
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;*/
}

.logo{
    margin-top: 20px;
}

.menu ul{
    display: grid;
    grid-template-columns: repeat(5, 15%);
    list-style: none;
    text-align: center;
    color: hsl(220, 14%, 75%);
    font-size: 18px;

    /*
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 30px;*/
}

.menu ul li{
    cursor: pointer;
    

    /*
    width: 100%;*/

}

.iconecarrinho {
    margin-top: 20px;
    cursor: pointer;
    /*
    display: grid;
    align-content: end;
    justify-content: end;*/
}

.iconeavatar {
    margin: 0px 10px;
    width: 50%;
}


